<!-- navbar wrapper -->
<nav class="navbar-wrapper sticky-top shadow p-3 mb-3 bg-body navbar navbar-expand-lg navbar-light bg-light">

  <!-- navbar item wrapper -->
  <div class="container-fluid py-2 d-flex">

    <!-- navbar email section -->
    <span class="ms-5"><i class="fa-regular fa-envelope"></i><a class="navbar-brand mx-3 fs-6"
        href="#">contact@tobistudio.fr</a></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar item section -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
