// first-container
.first-container {
  background-color: #fff;
  background-image: radial-gradient(circle at 0.8px 0.8px, rgba(0, 0, 0, 0.2) 1px, rgba(255, 255, 255, 0) 1px);
  background-size: 50px 30px;
  height: 85vh;
  position: relative;
  /* Added to position the hover effect */
}

.first-container .card {
  margin: 5% 0;
  width: 40%;
  --bs-card-border-width: none;
  --bs-card-border-color: none;
  transition: transform 0.3s ease;
  /* Smooth transition for hover effect */
}

.first-container .card .card-header {
  background-color: #fff;
}

.first-container .card .card-body {
  flex: none;
}

.first-container .card .card-footer {
  background-color: #fff;
}

.first-container .card .card-footer h3 {
  font-weight: bolder;
  font-size: 28px;
}

.first-container .card .card-social-links i {
  font-size: 32px;
}


// second-container
.second-container {
  height: 100vh;
  background-color: #fff;
  margin: 3rem 0;
  box-shadow: 0 -0.75rem 1.5rem rgba(0, 0, 0, 0.25),
    /* Top shadow */
    0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
  /* Bottom shadow */
}

// second-container first-column
.second-container .first-column {
  margin-left: 23%;
}

.second-container .first-column .column-icon {
  height: 0;
  width: 0;
}

.second-container .first-column .text-content {
  margin-left: 17%;
}

.second-container .first-column .text-content h5 {
  font-weight: bolder;
}

.second-container .first-column .column-icon i {
  padding: 22px 20px;
  background-color: #000;
  border-radius: 50%;
}


// second-container second-column
